version: 0.2.19.{build}

#environment:

platform: 
  - x64

os: Visual Studio 2017

configuration: Release

init:
  - git config --global core.autocrlf input
  - echo %BLAS_LIBRARY%

clone_depth: 5

skip_tags: true

matrix:
  fast_finish: false

skip_commits:
# Add [av skip] to commit messages
  message: /\[av skip\]/

environment:
  global:
    CONDA_INSTALL_LOCN: C:\\Miniconda36-x64
  matrix:
    - BLAS_LIBRARY: openblas
    - BLAS_LIBRARY: mkl

install:
  - call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
  - conda config --add channels conda-forge --force
  - conda install --yes --quiet cmake ninja %BLAS_LIBRARY%

  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
  - set "LIB=%CONDA_INSTALL_LOCN%\Library\lib;%LIB%"
  - set "INCLUDE=%CONDA_INSTALL_LOCN%\Library\include;%INCLUDE%"

before_build:
  - ps: if (-Not (Test-Path .\build)) { mkdir build }
  - cd build
  - cmake -G "Ninja" ..

build_script:
  - cmake --build .

test_script:
  - echo Running Test
