shallow_clone: true

platform:
  # - x86
  - x64

configuration:
  - Debug
  # - Release

image:
  - Visual Studio 2015
  # - Visual Studio 2017

# cache:
  # - C:\cmake-3.10.1-win32-x86
  # - C:\Program Files (x86)\IntelSWTools
  # - C:\w_mkl_2018.0.124.exe

environment:
  matrix:
    # - BLAS_VERSION: Intel10_32
    # - BLAS_VERSION: Intel10_64lp
    - BLAS_VERSION: Intel10_64lp_seq
    # - BLAS_VERSION: Intel


# init:
#   - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  ############################################################################
  # Install CMake
  ############################################################################
  - ps: |
      if (![IO.File]::Exists("C:\cmake-3.10.1-win64-x64\bin\cmake.exe")) {
        Start-FileDownload 'https://cmake.org/files/v3.10/cmake-3.10.1-win64-x64.zip'
        7z x -y cmake-3.10.1-win64-x64.zip -oC:\
      }
      $env:PATH="C:\cmake-3.10.1-win64-x64\bin;$env:PATH"

  ############################################################################
  # Install MKL
  ############################################################################
  - ps: |
      if (![IO.File]::Exists("C:\w_mkl_2018.0.124.exe")) {
        ECHO 'w_mkl_2018.0.124.exe does not exist. Preparing to install MKL ..'
        Start-FileDownload 'http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/12079/w_mkl_2018.0.124.exe' -FileName 'C:\w_mkl_2018.0.124.exe'
        C:\w_mkl_2018.0.124.exe -s -l c:\logs\extract-mkl.log -a install --eula=accept --components=all --output='C:\logs\install-mkl-output.txt' --installdir='C:\Program Files (x86)\IntelSWTools' --log='c:\logs\install-mkl.log' | Out-Null
        ECHO 'Done'
      }
      $env:LD_MKL_PATH='C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\mkl\lib\intel64_win\'
      $env:LIB="$env:LD_MKL_PATH;$env:LIB"

  ############################################################################
  # Install OpenBlAS
  ############################################################################
  - nuget install openblas -o C:\

  ############################################################################
  # Install Ninja
  ############################################################################
  - mkdir C:\projects\deps
  - cd C:\projects\deps
  - set NINJA_URL="https://github.com/ninja-build/ninja/releases/download/v1.6.0/ninja-win.zip"
  - appveyor DownloadFile %NINJA_URL% -FileName ninja.zip
  - 7z x ninja.zip -oC:\projects\deps\ninja > nul
  - set PATH=C:\projects\deps\ninja;%PATH%
  - ninja --version

  ############################################################################
  # Setup the path to Clang-cl
  ############################################################################
  - set PATH="C:\Program Files\LLVM\bin";%PATH%
  - clang-cl -v

before_build:
  - call "C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\bin\compilervars_arch.bat" intel64 vs2017
  - cd C:\projects\cpp-mkl-test
  - "ECHO %BLAS_VERSION%"
  - "ECHO 'cmake -DBLA_VENDOR=%BLAS_VERSION% -GNinja .. '"
  - ps: |
      mkdir build
      cd build
  - cmake -DBLA_VENDOR=%BLAS_VERSION% -GNinja ..

build_script:
  - cmake --build .

after_build:
  - appveyor PushArtifact CMakeCache.txt
  - appveyor PushArtifact CMakeFiles/CMakeOutput.log
  - appveyor PushArtifact CMakeFiles/CMakeError.log


test_script:
  - .\Debug\CMakeHelloWorld.exe

deploy: off

on_failure:
  - appveyor PushArtifact CMakeCache.txt
  - appveyor PushArtifact CMakeFiles/CMakeOutput.log
  - appveyor PushArtifact CMakeFiles/CMakeError.log


# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
